In [1]:
cd ..

/notebooks

/usr/local/lib/python3.11/dist-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:
import pandas as pd 
import numpy as np

In [6]:
df2=pd.read_csv("full-nifty-spot.csv")

In [8]:
ls

File-merge.py           indian-nifty-and-banknifty-options-data-2020-2024.zip
README.md               options-data/
Untitled.ipynb          pinn_option_pricing/
full-nifty-options.csv  quick_start_pytorch.ipynb
full-nifty-spot.csv     quick_start_pytorch_images/

In [9]:
df.head()

         date      time     symbol      open      high       low     close
0  2023-08-08  09:15:00  BANKNIFTY  44888.95  44926.70  44830.45  44883.10
1  2023-08-08  09:16:00  BANKNIFTY  44871.45  44916.10  44871.45  44896.75
2  2023-08-08  09:17:00  BANKNIFTY  44901.75  44917.15  44889.25  44890.85
3  2023-08-08  09:18:00  BANKNIFTY  44891.00  44910.70  44885.50  44910.70
4  2023-08-08  09:19:00  BANKNIFTY  44910.90  44913.45  44895.50  44910.50

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92310 entries, 0 to 92309
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    92310 non-null  object
 1   time    92310 non-null  object
 2   symbol  92310 non-null  object
 3   open    92310 non-null  float64
 4   high    92310 non-null  float64
 5   low     92310 non-null  float64
 6   close   92310 non-null  float64
dtypes: float64(4), object(3)
memory usage: 4.9+ MB

In [11]:
df.describe()

               open          high           low         close
count  92310.000000  92310.000000  92310.000000  92310.000000
mean   43557.011397  43567.767111  43546.026122  43556.964325
std     2004.617107   2003.516088   2005.533525   2004.608879
min    38621.550000  38645.750000  38613.150000  38618.950000
25%    42249.975000  42261.625000  42239.512500  42250.700000
50%    43836.575000  43846.325000  43826.675000  43836.750000
75%    44624.512500  44633.650000  44615.187500  44624.250000
max    48610.200000  48631.000000  48600.200000  48614.050000

In [12]:
import numpy as np

df['log_ret'] = np.log(df['close'] / df['close'].shift(1))
vol_daily = df['log_ret'].std()
returns_per_day = df['date'].nunique() / len(df)
vol_annualized = vol_daily * np.sqrt(252 / returns_per_day)

In [13]:
print(vol_annualized)

0.3972855052630831

In [3]:
df=pd.read_csv("full-nifty-options.csv")
df.head()

,date,time,symbol,open,high,low,close,oi,volume
0,2023-08-28,09:50:00,BANKNIFTY31AUG2337500CE,6780.00,6780.00,6780.00,6780.00,8955.0,16
1,2023-08-28,10:22:00,BANKNIFTY31AUG2337500CE,6794.90,6794.90,6794.90,6794.90,8940.0,15
2,2023-08-28,10:58:00,BANKNIFTY31AUG2337500CE,6836.15,6836.15,6836.15,6836.15,8925.0,15
3,2023-08-28,10:59:00,BANKNIFTY31AUG2337500CE,6836.15,6836.15,6820.00,6820.00,8895.0,30
4,2023-08-28,11:05:00,BANKNIFTY31AUG2337500CE,6850.00,6850.00,6850.00,6850.00,8880.0,45

In [5]:
df.shape

(10167376, 9)

In [7]:
df2.shape

(92310, 7)

In [8]:
print(df['symbol'].value_counts())

symbol
BANKNIFTY28SEP2344800PE    2256
BANKNIFTY28SEP2344700CE    2256
BANKNIFTY28SEP2344400PE    2256
BANKNIFTY28SEP2345200CE    2256
BANKNIFTY28SEP2343800PE    2256
                           ...
BANKNIFTY13DEC2341700CE       1
BANKNIFTY22NOV2348500PE       1
BANKNIFTY18MAY2347500PE       1
BANKNIFTY22NOV2346400PE       1
BANKNIFTY18MAY2348000PE       1
Name: count, Length: 9160, dtype: int64

In [10]:
print(len(df['symbol'].unique()))

9160